<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="clientes-lista">
    <div class="space-y-3">
        <div th:each="cliente : ${clientes}"
             class="p-4 border border-gray-200 rounded-lg hover:bg-gray-50 cursor-pointer"
             th:onclick="establecerCliente([(${cliente.id})], '[(${cliente.nombre + ' ' + cliente.apellidoPaterno})]')">
            <h4 class="font-medium" th:text="${cliente.nombre + ' ' + cliente.apellidoPaterno}"></h4>
            <p class="text-sm text-gray-600 mt-1" th:text="${cliente.correo}"></p>
        </div>
    </div>
</div>
</body>
</html>