<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{common/head :: head}"></head>
<body class="bg-grayLight min-h-screen flex flex-col">

<!-- Navbar -->
<div th:replace="~{common/navbar :: navbar}"></div>

<!-- Layout principal -->
<div class="flex flex-grow">
    <!-- Sidebar dinámico según el rol -->
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <div th:replace="~{common/sidebar_admin :: sidebar}"></div>
    </div>

    <div th:if="${#authorization.expression('hasRole(''CAJA'')')}">
        <div th:replace="~{common/sidebar_caja :: sidebar}"></div>
    </div>

    <!-- Contenido principal -->
    <main class="ml-56 pt-20 p-6 flex-grow bg-grayLight">
        <div th:replace="~{${mainContent}}"></div>
    </main>
</div>

<!-- Footer -->
<div th:replace="~{common/footer :: footer}"></div>

</body>
</html>