<div xmlns:th="http://www.thymeleaf.org" th:fragment="tailwindScripts">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        zorroRed: '#e20e1c',
                        zorroDark: '#a0101c',
                        grayLight: '#f2f2f2',
                        beige: '#E8DFCF',
                        salmon: '#EBC5B5',
                        pink: '#F2A19B',
                        magenta: '#F03275',
                        teal: '#329693',
                        black: '#1b1b1b'
                    }
                }
            }
        };
    </script>
</div>
