<div th:fragment="sidebar" class="w-56 bg-white h-full border-r border-gray-300 pt-4 shadow-md">
    <ul class="space-y-2">
        <li><a href="/administracion" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-zorroDark">Inicio</a></li>
        <li><a href="/administracion/proveedor/buscar" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Proveedores</a></li>
        <li><a href="/administracion/inventario/categoria/lista" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Categorias</a></li>
        <li><a href="/administracion/inventario/producto/lista" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Productos</a></li>
        <li><a href="/administracion/empleado/lista" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Empleados</a></li>
    </ul>
</div>