<div th:fragment="sidebar"
     class="fixed top-16 left-0 w-56 bg-white h-[calc(100vh-4rem)] border-r border-gray-300 pt-4 shadow-md z-20">
    <ul class="space-y-2">
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Inicio</a></li>
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Ventas</a></li>
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Productos</a></li>
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Reportes</a></li>
        <li><a href="/logout" class="bg-zorroDark block px-4 py-2 rounded text-white hover:bg-red-700">Salir</a></li>
    </ul>
</div>
