<div th:fragment="sidebar" class="w-56 bg-white h-full border-r border-gray-300 pt-4 shadow-md">
    <ul class="space-y-2">
        <li><a href="/admin" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-zorroDark">Dashboard</a></li>
        <li><a href="/admin/usuarios" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Usuarios</a></li>
        <li><a href="/admin/reportes" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Reportes</a></li>
        <li><a href="/admin/config" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Configuración</a></li>
    </ul>
</div>