<div th:fragment="sidebar" class="w-56 bg-white h-full border-r border-gray-300 pt-4 shadow-md">
    <ul class="space-y-2">
        <li><a href="/administracion" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-zorroDark">Dashboard</a></li>
        <li><a href="/administracion/proveedor/alta" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Alta proveedor</a></li>
        <li><a href="/administracion/proveedor/buscar" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Buscar Proveedor</a></li>
        <li><a href="/administracion" class="block px-4 py-2 hover:bg-gray-100 border-l-4 border-transparent hover:border-zorroRed">Configuración</a></li>
    </ul>
</div>